.product-card {
  width: 18rem;
  margin: 1rem;
  height: 95%;
}

body {
  background-color: lightgray;
}

img {
  height: 200px;
}

.body{
  margin-top: 5rem;
}

.object-fit{
  object-fit: contain;
}
